@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent

<div>

// The code behind is class is named TwistedCloudComponent1Base in a file called TwistedCloudComponent1.razor.cs. Along with the Typescript and CSS files associated with this component TwistedCloudComponent1.razor.(ts|css).

</div>
