@inherits BaseComponent
<div class="flex flex-grow flex-col">
    <div class="bg-twistedcloud-gray flex text-white h-65px items-center px-5 flex-shrink-0">
        <h1 class="text-xl font-bold mr-auto">@ContentTitle</h1>
        @if (ContentHeaderFragment != null)
        {
            @ContentHeaderFragment
        }
    </div>
    <div class="flex flex-grow">
        <div @ref="LeftPanelContainer" class="left-panel bg-gray-500 text-white collapsible @(AppState.IsLeftPanelOpen ? "show" : "collapsed")">
            <div class="left-panel-content">
                @if (ContentLeftFragment != null)
                {
                    @ContentLeftFragment
                }
            </div>
        </div>
        <div class="main-content flex-grow flex flex-col @ContentBodyViewCssClass">

            @if (ContentBody != null)
            {
                @ContentBody
            }
        </div>
    </div>
    <div class="bg-twistedcloud-gray flex h-65px">
        @if (ContentFooter != null)
        {
            @ContentFooter
        }
    </div>
    <div @ref="RightPanelContainer" class="right-panel absolute right-0 top-0 bottom-0 left-1/2 bg-gray-500">
        @if (ContentRightFragment != null)
        {
            @ContentRightFragment
        }
    </div>
</div>