@inherits AdminLayoutBase
<div class="app-content h-screen flex">
    <nav class="products-main-nav bg-black text-white w-56px h-full z-40 flex flex-col items-center">
        <button class="h-56px flex-shrink-0 w-full hover:bg-gray-500 text-gray-500 hover:text-white" ><i class="fas fa-bars"></i></button>
    </nav>

    <div class="flex-grow flex flex-col z-10">
        @Body
    </div>
</div>
